* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--background-color);
  color: var(--default-color);
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
}

main {
  display: flex;
  flex-direction: column;
}

.cells {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.cell {
  display: flex;
  width: var(--cell-width);
  height: var(--cell-height);
}
