* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: black;
  color: var(--default-color);
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.block-wrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  min-height: 300px;
}

.cell {
  display: block;
  justify-content: center;
  align-content: flex-start;
  width: var(--cell-width);
  height: var(--cell-height);
}

video {
  display: block;
  max-width: 100%;
}

.center {
  text-align: center;
}

.default-padding {
  padding: 0.8rem;
}

