.example-1 .line-number {
  counter-increment: example-line-number-1;
}

.example-1 .line-number::before {
  content: counter(example-line-number-1);
  padding-right: var(--default-padding);
  display: inline-block;
}
