.card {
  max-width: 10rem;
}

.columns {
  display: grid; 
  grid-template-columns: 1fr 9rem;
}

.columns > :nth-child(2) {
  border: var(--faded-default-border);
}


[data-r=results] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
