.card {
  max-width: 10rem;
}

.columns {
  display: grid; 
  grid-template-columns: 8rem 1fr;
}

.columns > :nth-child(1) {
  border: var(--faded-default-border);
}


[data-r=results] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
