:root {
  --light--default-background-color: oklch(0.9634 0.02097 105.642);
  --light--default-base-color: oklch(0.1951 0.23 105.642);
  --light--faded-base-color: oklch(0.1951 0.23 105.642 / 0.653);
  --light--default-heading-color: oklch(0.165 0.18556 225.642);
  --light--faded-heading-color: oklch(0.165 0.18556 225.642 / 0.18);
  --light--default-link-color: oklch(0.5537 0.15458 225.642);
  --light--faded-link-color: oklch(0.5537 0.15458 225.642 / 0.604);
  --light--default-accent-color: oklch(0.4986 0.10843 165.642);
  --light--faded-accent-color: oklch(0.4986 0.10843 165.642 / 0.28);
  --light--default-warning-color: oklch(0.645 0.09691077318165202 345.642);
  --light--faded-warning-color: oklch(0.645 0.09691077318165202 345.642 / 0.376);
  --light--default-black-color: oklch(0 0 301.9078701095805);
  --light--faded-black-color: oklch(0 0 301.9078701095805 / 0.46);
  --light--default-white-color: oklch(1 0 301.9078701095805);
  --light--faded-white-color: oklch(1 0 301.9078701095805 / 0.46);
  --light--default-match-color: oklch(1 0 301.9078701095805);
  --light--faded-match-color: oklch(1 0 301.9078701095805 / 0.46);
  --light--default-reverse-color: oklch(0 0 301.9078701095805);
  --light--faded-reverse-color: oklch(0 0 301.9078701095805 / 0.46);
  --dark--default-background-color: oklch(0.2124 0.0298 254.092);
  --dark--default-base-color: oklch(0.8747 0.04454 254.092);
  --dark--faded-base-color: oklch(0.8747 0.04454 254.092 / 0.157);
  --dark--default-heading-color: oklch(0.6705 0.12874 254.092);
  --dark--faded-heading-color: oklch(0.6705 0.12874 254.092 / 0.308);
  --dark--default-link-color: oklch(0.7299 0.07889 14.091999999999985);
  --dark--faded-link-color: oklch(0.7299 0.07889 14.091999999999985 / 0.609);
  --dark--default-accent-color: oklch(0.7338 0.06558 194.09199999999998);
  --dark--faded-accent-color: oklch(0.7338 0.06558 194.09199999999998 / 0.567);
  --dark--default-warning-color: oklch(0.4351 0.16022 74.09199999999998);
  --dark--faded-warning-color: oklch(0.4351 0.16022 74.09199999999998 / 0.359);
  --dark--default-black-color: oklch(0 0 232.79402489007663);
  --dark--faded-black-color: oklch(0 0 232.79402489007663 / 0.46);
  --dark--default-white-color: oklch(1 0 232.79402489007663);
  --dark--faded-white-color: oklch(1 0 232.79402489007663 / 0.46);
  --dark--default-match-color: oklch(0 0 232.79402489007663);
  --dark--faded-match-color: oklch(0 0 232.79402489007663 / 0.46);
  --dark--default-reverse-color: oklch(1 0 232.79402489007663);
  --dark--faded-reverse-color: oklch(1 0 232.79402489007663 / 0.46);
  --hc-light--default-background-color: oklch(1 0.06752 259.652);
  --hc-light--default-base-color: oklch(0.0995 0.23 259.652);
  --hc-light--faded-base-color: oklch(0.0995 0.23 259.652 / 0.242);
  --hc-light--default-heading-color: oklch(0.6217704856122922 0.08831300417260277 319.652);
  --hc-light--faded-heading-color: oklch(0.6217704856122922 0.08831300417260277 319.652 / 0.572);
  --hc-light--default-link-color: oklch(0.5245 0.15006780734890438 259.652);
  --hc-light--faded-link-color: oklch(0.5245 0.15006780734890438 259.652 / 0.437);
  --hc-light--default-accent-color: oklch(0.3227 0.19753 19.651999999999987);
  --hc-light--faded-accent-color: oklch(0.3227 0.19753 19.651999999999987 / 0.318);
  --hc-light--default-warning-color: oklch(0.5586547900477358 0.169058911353704 199.65200000000004);
  --hc-light--faded-warning-color: oklch(0.5586547900477358 0.169058911353704 199.65200000000004 / 0.34);
  --hc-light--default-black-color: oklch(0 0 53.5090680592232);
  --hc-light--faded-black-color: oklch(0 0 53.5090680592232 / 0.46);
  --hc-light--default-white-color: oklch(1 0 53.5090680592232);
  --hc-light--faded-white-color: oklch(1 0 53.5090680592232 / 0.46);
  --hc-light--default-match-color: oklch(1 0 53.5090680592232);
  --hc-light--faded-match-color: oklch(1 0 53.5090680592232 / 0.46);
  --hc-light--default-reverse-color: oklch(0 0 53.5090680592232);
  --hc-light--faded-reverse-color: oklch(0 0 53.5090680592232 / 0.46);
  --hc-dark--default-background-color: oklch(0 0.20706934229967444 142);
  --hc-dark--default-base-color: oklch(1 0.20411 82);
  --hc-dark--faded-base-color: oklch(1 0.20411 82 / 0.385);
  --hc-dark--default-heading-color: oklch(0.9552 0.09830629780740073 142);
  --hc-dark--faded-heading-color: oklch(0.9552 0.09830629780740073 142 / 0.697);
  --hc-dark--default-link-color: oklch(0.962 0.004698125519856717 262);
  --hc-dark--faded-link-color: oklch(0.962 0.004698125519856717 262 / 0.628);
  --hc-dark--default-accent-color: oklch(0.874 0.23 142);
  --hc-dark--faded-accent-color: oklch(0.874 0.23 142 / 0.374);
  --hc-dark--default-warning-color: oklch(0.6882 0.21203825105953206 22);
  --hc-dark--faded-warning-color: oklch(0.6882 0.21203825105953206 22 / 0.418);
  --hc-dark--default-black-color: oklch(0 0 78.02412821214362);
  --hc-dark--faded-black-color: oklch(0 0 78.02412821214362 / 0.46);
  --hc-dark--default-white-color: oklch(1 0 78.02412821214362);
  --hc-dark--faded-white-color: oklch(1 0 78.02412821214362 / 0.46);
  --hc-dark--default-match-color: oklch(0 0 78.02412821214362);
  --hc-dark--faded-match-color: oklch(0 0 78.02412821214362 / 0.46);
  --hc-dark--default-reverse-color: oklch(1 0 78.02412821214362);
  --hc-dark--faded-reverse-color: oklch(1 0 78.02412821214362 / 0.46);
  --highlight-1-color: oklch(from var(--default-accent-color) l c h);
  --highlight-2-color: oklch(from var(--default-accent-color) l c calc(h + 60));
  --highlight-3-color: oklch(from var(--default-accent-color) l c calc(h + 120));
  --highlight-4-color: oklch(from var(--default-accent-color) l c calc(h + 180));
  --highlight-5-color: oklch(from var(--default-link-color) l c h);
  --highlight-6-color: oklch(from var(--default-link-color) l c calc(h + 60));
  --highlight-7-color: oklch(from var(--default-link-color) l c calc(h + 120));
  --highlight-8-color: oklch(from var(--default-link-color) l c calc(h + 180));
}

:root {
  --default-background-color: var(--switch--background-color, var(--light--default-background-color));
  --default-base-color: var(--switch--base-color, var(--light--default-base-color));
  --faded-base-color: var(--switch--faded-base-color, var(--light--faded-base-color));
  --default-heading-color: var(--switch--heading-color, var(--light--default-heading-color));
  --faded-heading-color: var(--switch--faded-heading-color, var(--light--faded-heading-color));
  --default-link-color: var(--switch--default-link-color, var(--light--default-link-color));
  --faded-link-color: var(--switch--faded-link-color, var(--light--faded-link-color));
  --default-accent-color: var(--switch--default-accent-color, var(--light--default-accent-color));
  --faded-accent-color: var(--switch--faded-accent-color, var(--light--faded-accent-color));
  --default-warning-color: var(--switch--warning-color, var(--light--default-warning-color));
  --faded-warning-color: var(--switch--faded-warning-color, var(--light--faded-warning-color));
  --default-black-color: var(--switch--black-color, var(--light--default-black-color));
  --faded-black-color: var(--switch--faded-black-color, var(--light--faded-black-color));
  --default-white-color: var(--switch--white-color, var(--light--default-white-color));
  --faded-white-color: var(--switch--faded-white-color, var(--light--faded-white-color));
  --default-match-color: var(--switch--match-color, var(--light--default-match-color));
  --faded-match-color: var(--switch--faded-match-color, var(--light--faded-match-color));
  --default-reverse-color: var(--switch--reverse-color, var(--light--default-reverse-color));
  --faded-reverse-color: var(--switch--faded-reverse-color, var(--light--faded-reverse-color));
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-background-color: var(--switch--background-color, var(--dark--default-background-color));
    --default-base-color: var(--switch--base-color, var(--dark--default-base-color));
    --faded-base-color: var(--switch--faded-base-color, var(--dark--faded-base-color));
    --default-heading-color: var(--switch--heading-color, var(--dark--default-heading-color));
    --faded-heading-color: var(--switch--faded-heading-color, var(--dark--faded-heading-color));
    --default-link-color: var(--switch--default-link-color, var(--dark--default-link-color));
    --faded-link-color: var(--switch--faded-link-color, var(--dark--faded-link-color));
    --default-accent-color: var(--switch--default-accent-color, var(--dark--default-accent-color));
    --faded-accent-color: var(--switch--faded-accent-color, var(--dark--faded-accent-color));
    --default-warning-color: var(--switch--warning-color, var(--dark--default-warning-color));
    --faded-warning-color: var(--switch--faded-warning-color, var(--dark--faded-warning-color));
    --default-black-color: var(--switch--black-color, var(--dark--default-black-color));
    --faded-black-color: var(--switch--faded-black-color, var(--dark--faded-black-color));
    --default-white-color: var(--switch--white-color, var(--dark--default-white-color));
    --faded-white-color: var(--switch--faded-white-color, var(--dark--faded-white-color));
    --default-match-color: var(--switch--match-color, var(--dark--default-match-color));
    --faded-match-color: var(--switch--faded-match-color, var(--dark--faded-match-color));
    --default-reverse-color: var(--switch--reverse-color, var(--dark--default-reverse-color));
    --faded-reverse-color: var(--switch--faded-reverse-color, var(--dark--faded-reverse-color));
  }
}

.code, .text.html.basic .meta.tag.other.html, .text.html.basic .meta.tag.any.html, .text.html.basic .meta.tag.block.any, .text.html.basic .meta.tag.inline.any, .text.html.basic .meta.tag.structure.any.html, .text.html.basic .source.js.embedded.html, .punctuation.separator.key-value.html, .sublimelinter.outline.violation, .sublimelinter.gutter-mark, .variable.other.readwrite.js, .variable.other.object.js, .variable.other.constant.js { color: var(--highlight-1-color); }
.variable, .entity.other.inherited-class, .entity.name.tag, .storage.type, .meta.brace.square, .punctuation.section.brackets, .entity.other.attribute-name.pseudo-element, .entity.other.attribute-name.tag.pseudo-element, .entity.other.attribute-name.pseudo-class, .entity.other.attribute-name.tag.pseudo-class, .support.function.perl, .meta.diff.range, .variable.language, .constant.numeric, .constant.other.reference.link.markdown { color: var(--highlight-2-color); }
.string, .string.regexp, .string.quoted.double, .string.quoted.single, .constant.other.symbol.ruby, .meta.preprocessor.c.include .string.quoted.other.lt-gt.include.c, .meta.preprocessor.c.include .punctuation.definition.string.begin.c, .meta.preprocessor.c.include .punctuation.definition.string.end.c, .other.add, .text.tex.latex .constant.other.math.tex, .constant.other.general.math.tex, .constant.other.general.math.tex, .constant.character.math.tex, .keyword.control.label.latex, .text.tex.latex .constant.other.general.math.tex, .support.function.general.tex, .keyword.control.ref.latex, .markup.changed, .markup.underline.link.markdown, .meta.link.reference .constant.other.reference.link.markdown, .entity.name.filename.find-in-files { color: var(--highlight-3-color); }
.storage.modifier, .meta.scope.for-in-loop.shell, .variable.other.loop.shell, .meta.scope.case-block.shell, .meta.scope.case-body.shell, .comment, .meta.documentation, .punctuation.definition.tag.html, .punctuation.definition.tag.begin, .punctuation.definition.tag.end, .meta.diff, .meta.diff.header, .sublimelinter.outline.illegal, .brackethighlighter.all, .constant.numeric.line-number.find-in-files, .sublimelinter.notes, .punctuation.definition.string, .sublimelinter.outline.warning { color: var(--highlight-4-color); }
.keyword, .storage, .support, .support.type, .support.class, .punctuation.definition.variable, .support.function, .keyword.other.special-method.ruby, .support.function.be.latex, .storage.type.class.python, .storage.type.function.python, .storage.modifier.global.python, .storage.modifier.c\+\+, .markup.inserted, .markup.quote, .markup.inserted.git_gutter { color: var(--highlight-5-color); }
.variable.function, .keyword.control.class, .entity.name, .entity.name.class, .entity.name.type.class, .entity.other.attribute-name, .entity.name.function, .constant, .constant.language, .meta.preprocessor, .support.constant.color, .invalid.deprecated.color.w3c-non-standard-color-name.scss, .entity.name.tag.css, .entity.name.tag.scss, .source.less .keyword.control.html.elements, .source.sass .keyword.control.untitled, .entity.other.attribute-name.class, .entity.other.attribute-name.id, .text.html.basic .entity.other.attribute-name.html, .meta.tag.xml .entity.other.attribute-name, .variable.other.constant.ruby, .meta.array .support.function.construct.php, .meta.group.braces.tex, .string.other.math.tex, .string.other.math.tex, .support.type.exception.python, .markup.heading, .punctuation.definition.heading.markdown, .sublimelinter.mark.warning, .markup.changed.git_gutter { color: var(--highlight-6-color); }
.meta.import .keyword, .keyword.control.import, .keyword.control.import.from, .keyword.other.import, .keyword.control.at-rule.include, .keyword.control.at-rule.import, .entity.name.section, .constant.character, .constant.other, .support.type.exception, .keyword.other.special-method, .keyword.other.special-method.ruby, .entity.name.function.preprocessor.c, .meta.preprocessor.c.include, .meta.preprocessor.macro.c, .variable.parameter.function.latex, .support.function.section.latex { color: var(--highlight-7-color); }
.keyword.operator.comparison, .keyword.operator.assignment, .keyword.operator.arithmetic, .meta.brace.round, .meta.brace.curly, .punctuation.section, .punctuation.section.block, .punctuation.definition.parameters, .punctuation.section.group, .meta.selector.css, .constant.character.escape, .support.function.construct, .keyword.other.new, .punctuation.separator.continuation, .other.package.exclude, .other.remove, .punctuation.section.group.tex, .punctuation.definition.arguments.begin.latex, .punctuation.definition.arguments.end.latex, .punctuation.definition.arguments.latex, .punctuation.definition.constant.math.tex, .punctuation.definition.string.begin.tex, .punctuation.definition.string.end.tex, .variable.parameter.definition.label.latex, .punctuation.definition.logical-expression.shell, .markup.deleted, .sublimelinter.mark.error, .markup.deleted.git_gutter { color: var(--highlight-8-color); }
