== set styles = d["/styles/styles.json"]

:root {
  == for size in styles.sizes
    --[@ size @]-border-radius: [@ styles.borderRadii[loop.index0] @];
    --[@ size @]-flow: [@ styles.flow[loop.index0] @];
    --[@ size @]-font-size: [@ styles.fontSizes[loop.index0] @];
    --[@ size @]-font-weight: [@ styles.fontWeights[loop.index0] @];
    --[@ size @]-gap: [@ styles.gaps[loop.index0] @];
    --[@ size @]-line-height: [@ styles.lineHeights[loop.index0] @];
    --[@ size @]-margin: [@ styles.margins[loop.index0] @];
    --[@ size @]-padding: [@ styles.paddings[loop.index0] @];
    --[@ size @]-wdith: [@ styles.widths[loop.index0] @];
  == endfor 
    --full-wdith: [@ styles.fullWidth @];
  == for weight in styles.fontWeights
    --[@ weight @]-font-weight: [@ weight @];
  == endfor 
  == for alignment in styles.textAligns
    --text-align-[@ alignment @]: [@ alignment @];
  == endfor 
  == for color in styles.colors
    --default-[@ color @]-border: 1px solid var(--default-[@ color @]-color);
    --faded-[@ color @]-border: 1px solid var(--faded-[@ color @]-color);
    --default-[@ color @]-border2: 2px solid var(--default-[@ color @]-color);
    --faded-[@ color @]-border2: 2px solid var(--faded-[@ color @]-color);
  == endfor 
}


[@ rawFile("/styles/colors.css") @]

[# TODO: Add .light- when that's ready #]
== for color in styles.colors
.default-[@ color @]-color { color: var(--default-[@ color @]-color); }
.faded-[@ color @]-color { color: var(--faded-[@ color @]-color); }
== endfor 

== for size in styles.sizes
.[@ size @]-font-size { font-size: var(--[@ size @]-font-size); }
.[@ size @]-width { max-width: [@ styles.widths[loop.index0] @]; }
.[@ size @]-wrapper { margin-inline: auto; max-width: [@ styles.widths[loop.index0] @]; }
.[@ size @]-flow > :where(:not(:first-child)) { margin-top: var(--flow-space, var(--[@ size @]-flow)); }
== endfor 

== for weight in fontWeights 
.[@ weigth @]-font-weight { font-weight: var(--[@ weight @]-font-weight); }
== endfor 

== for alignment in styles.textAligns
.text-align-[@ alignment @] { text-align: [@ alignment @]; }
== endfor 

== for size in styles.sizes 
  == for edge in styles.edges 
.[@ size @]-[@ edge @]-margin { margin-[@ edge @]: var(--[@ size @]-margin); }
.[@ size @]-[@ edge @]-padding { padding-[@ edge @]: var(--[@ size @]-padding); }
  == endfor 
== endfor 


== include "/styles/main.inc.css" 

