/* these classes are only for the layout
* everything else should be built 
* dynamically in the output sheet or
* the dyncmaic style update */


*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --sidebar-width: 16rem;
}

body {
  margin: 1.4rem;
}

.active {
  font-weight: 900;
}

.block {
  margin: 0.3rem;
  padding: 1rem;
}

.content {
  flex: 1;
  min-width: 0;
}

.default-flow > :where(:not(:first-child)) {
  margin-top: var(--flow-space, 1em);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--default-heading-color);
}

input[type=range]{
  width: 100%
}

.package {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.sidebar {
  position: sticky;
  flex: 0 0 var(--sidebar-width);
  width: var(--sidebar-width);
  top: 1.5rem;
  max-height: calc(100vh - 3rem); 
  overflow-y: auto;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.3rem;
}

.two-columns-left {
  display: grid;
  grid-template-columns: 2fr 1.6fr;
  gap: 1.3rem;
}


