* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--background-color);
  color: var(--default-color);
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

main {
  display: flex;
  flex-direction: column;
}

.cells {
  flex: 1;
  background: #333;
  min-height: 600px;
}

.hidden {
  display: none;
}

